<%- include('../partials/header') %>
    
    <h3>
        <%= skill.skill %>
    </h3>

    <h3>
        Skill Level: <%= skill.level %>
    </h3>

    <a class="btn btn-primary" href="/skills/<%= skill.id %>/edit">Edit Skill</a>

    <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete Skill</button>
    </form>
    
<%- include('../partials/footer') %>